* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: #F8F8F8;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}
.padding-top-100 {
    padding-top: 100px;
}

header {
    /* min-height: 510px; */
    padding: 30px;
    background-image: url(../img/header-bg.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
header.manual-height {
        min-height: 400px;
}
nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
}
.nav-links a {
    padding: 0 30px;
    padding: 0 15px;
    display: inline-block;
    text-decoration: none;
    color: #fdfdfd;
    /*    border: 1px solid #ab9d9d;*/
    margin: 0 1px;
    border-radius: 3px;
    font-size:  20px;
}
.connect {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    position:  relative;
    top: -9px;
}
.connect p {
    display: inline-block;
    margin-right: 20px;
    position:  relative;
    top: -3px;
    color: #fff;
}
.connect img {
    margin-left: 6px;
    transition: all .2s ease-in-out;
}
.connect img:hover {
    opacity: .6;
}
.logo {
    text-align: center;
    padding-top: 135px;
    padding-bottom: 20px;
}
.logo img {
    max-width: 100%;
}
.search {
    text-align: center;
    padding-bottom:  60px;
}
.search form {
    display: block;
    max-width: 610px;
    margin:  0 auto;
}
.search form input {
    border: none;
    background: #fff;
    width:  100%;
    padding:  25px;
    border-radius:  3px;
    font-size:  18px;
    color: #7e7a7a;
}
::placeholder {
    color: #999;
    opacity: 1; /* Firefox */
}




.container   {
    max-width: 1050px;
    margin: 0 auto;
}



.latest-posts,
.popular-posts {
    padding: 100px 0;
}
.post-header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    font-size:  20px;
}
.post-header h4 {
    font-size: 28px;
    color: #3F51B5;
    margin:  0;
}
.posts {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}
.post {
    width: 50%;
    padding: 10px;
}
.post a {
    text-decoration: none;
    color: #333;
}
.post-box {
    background: #FFFFFC;
    border: 3px solid #334DD8;
    border: 3px solid #c8cbdd;
    border-radius: 2px;
    padding: 20px;
    transition: .3s ease-in-out;
}
.post-box:hover {
    background: #e3e3c9;
}
.post-box .category {
    font-size: 15px;
    color: #334dd8;
    margin-bottom:  -10px;
}
.author {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}
.author img {
    margin-right: 20px;
}
@media screen and (max-width:730px){
    .post {
        width: 100%;
    }
}



.django-course img {
    max-width: 100%;
    margin-bottom: 100px;
}


.series-section {
    background: #EAF1F6;
    padding: 100px 0;
}
.series-section h1 {
    text-align: center;
    font-size: 36px;
    color: #3F51B5;
}
.series-section h1.series-title {
    margin: 0;
    margin-bottom: 50px;
}
.series-section .post-box h1 {
    font-size: 24px;
    color: #333;
    text-align: left;
}
.series-section .post-header h4 {
    margin-bottom: 10px;
    color: #444;
    font-size:  22px;
}
.series-section .btn-wrap {
    display: flex;
    justify-content: center;
}
.series-section .btn-wrap a {
    text-decoration: none;
    padding: 10px 30px;
    background: #334dd8;
    color: #fff;
    margin-right: 10px;
    border-radius: 2px;
    font-weight: 500;
    font-size:  18px;
}
.series-example {
    margin-bottom: 101px;
}



footer {
    background: #2D3233;
    padding: 100px 0;
    padding-bottom: 0;
    text-align: center;
}

footer .copyright {
    font-size: 16px;
    color: #666666;
    position:  relative;
    top: -20px;
}
footer .footer-links {
    padding: 100px 0;
    padding-top:  0;
}

.credit {
    background: #2D3233;
    padding: 10px 30px;
    display:  flex;
    align-items:  center;
    justify-content:  space-between;
    border-top: 1px solid #5C6263;
}
.made-by {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.made-by a {
    color: #0ebf7a;
    text-decoration: none;
    font-weight:  bold;
    font-size:  20px;
}






/*css for series page*/

.series-info {
    padding: 90px 0;
    text-align: center;
    border-bottom: 2px solid #334DD8;
}
.series-info h4,
.series-info h1 {
    margin: 0;
}
.series-info h4 {
    margin: 0;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    text-transform: uppercase;
    color: #1A5FE3;
}
.series-info h1 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: 36px;
    color: #555555;
    margin-bottom: 40px;
}
.series-info span {
    background: #fff;
    padding: 8px 15px;
    background: #FFFFFC;
    border: 1px solid #A0BAE2;
    border-radius: 2px;
}

.avator {
/*    width: 100px;*/
    border-radius: 100px;
}





/*css for post page */

.post-nav header {
    background: #334DD8;
    height: 90px;
    min-height:  auto;
    
}
.s-post-header {
    border-bottom: 1px solid #D8D8D8;
}
.post-header {
    text-align: left;
}
.s-post-header .post-header {
    max-width: 1050px;
    margin: 0 auto;
    padding: 70px 0;
}
.post-title {
    margin-bottom: 10px;
    color: #333;
    font-size: 24px;
}
.post-info {
    display: flex;
    align-items: center;
}
.post-info .author {
    padding-right: 60px;
}
.f-img {
    margin-top: 30px;
}
.post-info .name,
.post-info .date {
    color: #555;
    font-size: 14px;
}


.demo-img {
    margin-bottom: 50px;
}
.post-content {
     padding-top: 80px;
     padding-bottom: 80px;
}
.post-content .container {
    padding-right: 200px;
}
.post-content h1,
.post-content p
{
    color: #333333;
}




/*css for about page*/

#about .logo {
    padding-bottom: 100px;
}
#authors-block {
    background: #334DD8;
    position: relative;
/*    top: -1px;*/
    margin-top: -1px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.about-block {
    max-width: 1000px;
    margin: 0 auto;
    background: #fff;
    padding: 70px;
    padding-bottom: 20px;
    text-align: center;
    border-radius: 2px;
}
.about-block h1 {
    margin: 0;
    font-size: 30px;
    color: #1A5FE3;
    margin-bottom: 20px;
}
.about-block h2 {
    margin: 0;
    font-size: 24px;
    color: #1A5FE3;
    margin-bottom: 20px;
}
.about-block p {
    font-size: 20px;
    color: #555555;
    max-width: 618px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.writters {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.writter {
    width: 32%;
    text-align: left;
    margin-bottom: 50px;
}
.writter h3 {
    font-size: 20px;
    color: #1A5FE3;
    color: #1A5FE3;
    margin-bottom: 10px;
}
.writter p {
    font-size: 16px;
    color: #333333;
    margin-bottom: 20px;
}
.writter .social {
    position: relative;
    left: -15px;
    opacity: .6;
}
.btns-wrap {
    display: flex;
    width: 370px;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}
.btns-wrap a {
    text-decoration: none;
    color: #fff;
    background: #334DD8;
    padding: 10px 30px;
    font-weight: 600;
    border-radius: 4px;
}