{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="img/png" href="/static/img/favicon.png"/>
    <title>Banglai-Django</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Nunito+Sans|Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/static/css/main.css" rel="stylesheet">
  </head>
  <body>  

<!--===================Start header_section================-->
    <header>
      <nav>
        <div class="nav-links">
          <div class="fixed-sidebar">
            <a href="/">Home</a>
            <a href="{% url 'total_author' %}">Authors</a>
          </div>
        </div>
        <div class="connect">
          <p>Connect on</p>
          <a href="https://www.facebook.com/groups/banglaidjango/"><img src="/static/img/facebook.png" alt=""></a>
          <a href="twitter.com"><img src="/static/img/twitter.png" alt=""></a>
          <a href="google.com"><img src="/static/img/google-plus.png" alt=""></a>  
        </div>
      </nav>
      <div class="logo">
        <img src="/static/img/logo.png" alt="">
      </div>
    </header>
<!--===================End header_section==================-->

<!--===================Start latest_post_section===========-->
    <section class="latest-posts">
      <div class="container">
        <div class="post-header">
          <h4>Latest post</h4>
          <p>{{ latest_post.count }} Items</p>
        </div>
        <div class="posts">
          {% for post in latest_post %}
          <div class="post">
            <div class="post-box">
              <h4 class="category"></h4>
              <h1><a href="{% url 'post_detail' post.pk %}">{{ post.post_title }}</a></h1>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
<!--===================End latest_post_section=============-->

    <section class="django-course">
      <div class="container">
        <img src="/static/img/course.png" alt="">
      </div>
    </section>

<!--===================Start tutorial_series_section=======--> 
    <section class="series-section">
      <div class="container">
        <h1 class="series-title">Tutorial series</h1>
        {% for chapter in chapters %}
        <div class="series-example">
          <div class="post-header">
            <h4>Chapter {{ chapter.chapter_name }}</h4>
          </div>
          <div class="posts">
            {% for post in chapter.post.all|slice:":4" %}
            <div class="post">
              <div class="post-box">
                <h4 class="category"></h4>
                <h1><a href="{% url 'post_detail' post.pk %}">{{ post.post_serial_no }}. {{ post.post_title }}</a></h1>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="btn-wrap">
            <a href="{% url 'posts_of_chapter' chapter.pk %}" class="check-all">See totall post of this chapter</a>
          </div>
        </div>
        {% endfor %}          
      </div>
    </section>
<!--===================End tutorial_series_section=========-->

<!--===================Start footer_section================-->
    <footer>
      <div class="container">
        <img src="/static/img/logo.png" alt="">
        <p class="copyright">Copyright © 2018 Banglai-Django</p>
        <div class="nav-links footer-links">
          <a href="/">Home</a>
          <a href="{% url 'total_author' %}">Authors</a>
        </div>
      </div>
    </footer>
    
    <section class="credit">
      <div class="connect">
        <p>Connect on</p>
        <a href="https://www.facebook.com/groups/banglaidjango/"><img src="/static/img/facebook.png" alt=""></a>
        <a href="twitter.com"><img src="/static/img/twitter.png" alt=""></a>
        <a href="google.com"><img src="/static/img/google-plus.png" alt=""></a>
      </div>
      
      <div class="made-by">
        <span>Design & Front-End by <a href="https://www.facebook.com/mushfequrr1">Moshfequr Rahman</a></span>
        <span>Back-End Developed by <a href="https://www.facebook.com/shoriot">SD Shoriot</a></span>
      </div>
    </section>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/function.js"></script>
  </body>
</html>
<!--===================End footer_section==================-->