{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="img/png" href="/static/img/favicon.png"/>
    <title>{{ post.post_title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Nunito+Sans|Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/static/css/main.css" rel="stylesheet">
  </head>
  <body>

<!--===================Start header_section================-->
    <section class="post-nav">
      <header>
        <nav>
          <div class="nav-links">
            <div class="fixed-sidebar">
              <a href="/">Home</a>
              <a href="{% url 'total_author' %}">Authors</a>
            </div>
          </div>
          <div class="connect">
            <p>Connect on</p>
            <a href="https://www.facebook.com/groups/banglaidjango/"><img src="/static/img/facebook.png" alt=""></a>
            <a href="twitter.com"><img src="/static/img/twitter.png" alt=""></a>
            <a href="google.com"><img src="/static/img/google-plus.png" alt=""></a>  
          </div>
        </nav>    
      </header>
    </section>
<!--===================End header_section================-->

<!--===================Start post_detail_section=========-->     
    <section class="s-post-header">
      <div class="post-header">
        <div class="post-container">
          <h1 class="post-title">
            {{ post.post_title }}
          </h1>
          <div class="post-info">
            <div class="author">
              {% thumbnail post.author.profile.author_img "50x50" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
              {% endthumbnail %}
              <p class="name">{{ post.author.profile.author_name }}</p>
            </div>
            <div class="date">{{ post.pub_date }}</div>
          </div>
        </div>
      </div>
    </section>

    <section class="post-content">
      <div class="container">
        <p>{{ post.post_description|safe }}</p>
      </div>
    </section>  
<!--===================End post_detail_section=============-->

<div class="btns-wrap">
  {% if post.pk > first.pk %}
  <a href="{% url 'post_detail' post.pk|add:'-1' %}">&laquo;  Previous Post:</a>
  {% endif %}
  {% if post.pk < last.pk %}
  <a href="{% url 'post_detail' post.pk|add:'1' %}">Next Post:  &raquo;</a>
  {% endif %}
</div>

<!--===================Start DISQUS_comment_section========-->
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://banglai-django.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript><br>
<!--===================End DISQUS_comment_section==========-->

<!--===================Start footer_section================-->
    <footer>
      <div class="container">
        <img src="/static/img/logo.png" alt="">
        <p class="copyright">Copyright © 2018 Banglai-Django</p>
        <div class="nav-links footer-links">
          <a href="/">Home</a>
          <a href="{% url 'total_author' %}">Authors</a>
        </div>
      </div>
    </footer>
    
    <section class="credit">
      <div class="connect">
        <p>Connect on</p>
        <a href="https://www.facebook.com/groups/banglaidjango/"><img src="/static/img/facebook.png" alt=""></a>
        <a href="twitter.com"><img src="/static/img/twitter.png" alt=""></a>
        <a href="google.com"><img src="/static/img/google-plus.png" alt=""></a>
      </div>
      
      <div class="made-by">
        <span>Design & Front-End by <a href="https://www.facebook.com/mushfequrr1">Moshfequr Rahman</a></span>
        <span>Back-End Developed by <a href="https://www.facebook.com/shoriot">SD Shoriot</a></span>
      </div>
    </section>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/function.js"></script>
  </body>
</html>
<!--===================End footer_section==================-->