{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="img/png" href="/static/img/favicon.png"/>
    <title>Authors</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Nunito+Sans|Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/static/css/main.css" rel="stylesheet">
  </head>
  <body>
    
<!--==================Start header_section================-->
    <section class="post-nav">
      <header>
        <nav>
          <div class="nav-links">
            <div class="fixed-sidebar">
              <a href="/">Home</a>
              <a href="{% url 'total_author' %}">Authors</a>
            </div>
          </div>
          <div class="connect">
            <p>Connect on</p>
            <a href="https://www.facebook.com/groups/banglaidjango/"><img src="/static/img/facebook.png" alt=""></a>
            <a href="twitter.com"><img src="/static/img/twitter.png" alt=""></a>
            <a href="google.com"><img src="/static/img/google-plus.png" alt=""></a>  
          </div>
        </nav>    
      </header>
    </section>
<!--==================End header_section==================-->
  
<!--==================Start total_author_section==========-->
    <section id="about">
      <div id="authors-block">
        <div class="about-block">
        <h1>What's Banglai Django?</h1>
        <p>We also love to do great work. We love design. We love life. We love technology. We love music. We love being productive. We love coffee. We love to work fast (& dirty). We love our clients.</p>
        <h2>Writters</h2>
        <div class="writters">
          {% for author in authors %}
          <div class="writter">
            {% thumbnail author.profile.author_img "260x260" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
            <h3 class="name"><a href="{% url 'posts_of_author' author.pk %}">{{ author.profile.author_name }}</a></h3>
            <p>{{ author.profile.author_description }}</p>
            <!--==================Start Social_media_link_section=====-->
            <div class="social">
              <a href="{{ author.profile.author_facebook }}" class="facebook"><img src="/static/img/social/facebook.png" alt=""></a>
              <a href="{{ author.profile.author_twitter }}" class="twitter"><img src="/static/img/social/twitter.png" alt=""></a>
              <a href="{{ author.profile.author_linkedin }}" class="linked-in"><img src="/static/img/social/linked-in.png" alt=""></a>
            </div>
            <!--==================End Social_media_link_section=======-->
          </div>
          {% endfor %}
        </div>
      </div>
      </div>
    </section>
<!--==================End total_author_section============-->

<!--==================Start footer_section================-->
    <footer>
      <div class="container">
        <img src="/static/img/logo.png" alt="">
        <p class="copyright">Copyright © 2018 Banglai-Django</p>
        <div class="nav-links footer-links">
          <a href="/">Home</a>
          <a href="{% url 'total_author' %}">Authors</a>
        </div>
      </div>
    </footer>
    
    <section class="credit">
      <div class="connect">
        <p>Connect on</p>
        <a href="https://www.facebook.com/groups/banglaidjango/"><img src="/static/img/facebook.png" alt=""></a>
        <a href="twitter.com"><img src="/static/img/twitter.png" alt=""></a>
        <a href="google.com"><img src="/static/img/google-plus.png" alt=""></a>
      </div>
      
      <div class="made-by">
        <span>Design & Front-End by <a href="https://www.facebook.com/mushfequrr1">Moshfequr Rahman</a></span>
        <span>Back-End Developed by <a href="https://www.facebook.com/shoriot">SD Shoriot</a></span>
      </div>
    </section>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/function.js"></script>
  </body>
</html>
<!--==================End footer_section==================-->